.userList {
  background-color: #fff;
  width: 30%;
  max-height: 100vh;
  max-width: 400px;
  min-width: 325px;
  border-right: 1px solid #ccc;
}

.chatPage {
  /* background-color: red; */
  width: 100%;
}

.userList .listBox {
  overflow-y: auto;
  height: calc(100% - 98px);
}

.user-card {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.user-card * {
  pointer-events: none;
  user-select: none;
}

.user-card.active {
  background-color: #ebebeb;
}

.user-card .phone {
  line-height: 1;
}

.avatar {
  width: 100%;
  max-width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.addUserAvatar {
  max-width: 80px;
  position: absolute;
  top: -115px;
  left: 50%;
  transform: translateX(-50%);
}

button svg {
  pointer-events: none;
  user-select: none;
}
.font-20 {
  font-size: 20px;
}

.msgBox {
  height: 100%;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
}

.msgBox > div > span {
  /* min-width: 100px; */
  max-width: 70%;
  word-break: break-word;
}

.msgIpBox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.wlcmTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
